:root {
   --color-primary: coral;
   --color-secondary: cornflowerblue; 
   --color-white: white;
   --color-black: black; 
}

/* Adjeltiv styling */
.text-center {
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}
